{% extends "tierlists/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p>Standard</p>
				{% if latest_plot_list %}
					<ul>
					{% for plot in latest_plot_list %}
						{% if plot.scoring_format == 'STND' %}
							<li><a href="{% url 'tierlists:plot' pk=plot.id %}">{{ plot.position }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}	
			</div>
			<div class="col-sm">
				<p>PPR</p>
				{% if latest_plot_list %}
					<ul>
					{% for plot in latest_plot_list %}
						{% if plot.scoring_format == 'FPPR' %}
							<li><a href="{% url 'tierlists:plot' pk=plot.id %}">{{ plot.position }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="col-sm">
				<p>Half PPR</p>
				{% if latest_plot_list %}
					<ul>
					{% for plot in latest_plot_list %}
						{% if plot.scoring_format == 'HPPR' %}
							<li><a href="{% url 'tierlists:plot' pk=plot.id %}">{{ plot.position }}</a></li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
